/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title-header {
  font-size: 24px;
  font-weight: 600;
  font-family: monospace;
}

.spacer {
  flex: 1 1 auto;
}

.header {
  margin: 0 auto;
}

.header-form-field {
  font-size: 14px;
  font-family: monospace;
}

.mat-form-field-wrapper {
    padding: 0;
}

.mat-form-field-underline {
    display: none;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    padding: .25em .75em .25em .75em!important;
}